<?xml version='1.0'?>
<config>
	<modules>
		<Midin_OneStepCheckout>
			<version>0.0.1</version>
		</Midin_OneStepCheckout>
	</modules>
	<frontend>
		<routers>
			<checkout>
				<args>
					<modules>
						<onestepcheckout before="Mage_Checkout">Midin_OneStepCheckout</onestepcheckout>
					</modules>
				</args>
			</checkout>
		</routers>

		<layout>
			<updates>
				<onestepcheckout>
					<file>onestepcheckout.xml</file>
				</onestepcheckout>
			</updates>
		</layout>
	</frontend>
	<!-- <global>
		<blocks>
			<onestepcheckout><class>Midin_OneStepCheckout_Block</class></onestepcheckout>
		</blocks>
	</global> -->
	<global>
		<blocks>
			<checkout>
				<rewrite>
					<onepage>Midin_OneStepCheckout_Block_Onestep</onepage>
				</rewrite>
			</checkout>
		</blocks>
	</global>
</config>
