.DS_Store
.svn
Thumbs.db
php_errors.log
/.idea
/.modman
app/etc/local.xml
errors/local.xml
/downloader/.cache
/downloader/*.cfg
/includes/src
/media/catalog/
/media/tmp/
/media/wysiwyg/
/media/aw_islider/
/docs/*.csv
/shell/*.csv
/var
/var/cache
/var/export
/var/import
/var/importexport
/var/full_page_cache
/var/locks
/var/log
/var/package/tmp
/var/session
/var/tmp
/var/report
/php.ini.sample
/downloader
/skin/frontend/o-shop/o-shop/scss/.sass-cache/
/wp/wp-content/uploads/
wp/wp-config.php

