<?xml version='1.0'?>
<config>
	<modules>
		<Midin_Cihuy>
			<version>0.0.1</version>
		</Midin_Cihuy>
	</modules>
	<frontend>
		<routers>
			<test_controller>
				<use>standard</use>
				<args>
					<module>Midin_Cihuy</module>
					<frontName>requestflowtest</frontName>
				</args>
			</test_controller>
		</routers>
	</frontend>
</config>
